Django                        5.2.11
django-filter                 23.5
djangorestframework           3.16.1
djangorestframework_simplejwt 5.5.1
djoser                        2.3.3
drf_base64                    2.0
drf-extra-fields              3.7.0
pillow                        12.1.1
pip                           23.1.2
sqlparse                      0.5.5
